* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contact-centr {
    width: 1000px;
    height: 250px;
    background-color: rgb(233, 229, 229);
    border-radius: 10px;
    margin-left: 150px;
    margin-top: 50px;
}
.contact-title {
    margin-left: 30px;
    margin-top: 25px;
    font-family: sans-serif;
    font-weight: 600;
}
.contact-item {
    margin-left: 30px;
    margin-top: 20px;
    font-family: sans-serif;
}
.contact-toshkent {
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    margin-top: 25px;
}
.contact-place {
    font-family: sans-serif;
}
.contact-num {
    margin-right: 20px;
    font-family: sans-serif;
}
.contact-otdel {
    width: 1000px;
    height: 150px;
    background-color: rgb(233, 229, 229);
    border-radius: 10px;
    margin-left: 150px;
    margin-top: 30px;
}
.contact-pochta {
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    margin-top: 20px;
}
.contact-phone {
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    margin-top: 20px;
}
.contact-prav {
    width: 1000px;
    height: 200px;
    background-color: rgb(233, 229, 229);
    border-radius: 10px;
    margin-left: 150px;
    margin-top: 30px;
}
.contact-text {
    margin-left: 30px;
    margin-top: 20px;
    font-family: sans-serif;
    font-weight: 400;
}
.contact-elektron {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}